/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


.main-container {
    height: 100vh;
    width: 100vw;
    background: #afd4c0;
}
.body-container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 20vw 60vw 20vw;
}
.white-body {
    grid-column: 2 / 3;
    background: white;
    display: grid;
    grid-template-rows: 50vh 20vh 30vh;
}
.login-input {
    grid-row: 2 / 3;
    align-self: center;
    justify-self: center;
}
.login-button-div {
    grid-row: 3 / 4;
    display: flex;
    justify-self: center;
    align-self: start;
}
input, button{
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-indent: 0px;
    text-shadow: none;
    text-align: start;
    font: 400 11px;
    font-family:  'Open Sans', sans-serif;
}
.auth-input {
    font-size: 25px;
    width: 45vw;
    margin-bottom: 25px;
    border: 1px solid#519872;
    outline: none;
    -webkit-appearance: textfield;
    background-color: white;
    cursor: text;
    padding: 1px;
}
.login-button {
    width: 130px;
    height: 40px;
    font-size: 14px;
    cursor: pointer;
    margin-right: 30px;
    font-weight: 700;
    background: #8aea92;
    justify-content: center;
    text-align: center;
}
.register-button {
    width: 130px;
    height: 40px;
    font-size: 14px;
    cursor: pointer;
    margin-right: 30px;
    font-weight: 700;
    background: #3b5349;
    justify-content: center;
    text-align: center;
    color: white;
}
.login-logo {
    margin-bottom: 50px;
    grid-row: 1 / 2;
    justify-self: center;
    align-self: end;
}
.green-body {
    grid-column: 2 / 3;
    background: #f6f0f0;
    display: grid;
    grid-template-rows: 12vh 10vh 10vh 78vh;

}
.header {
    width: 100vw;
    height: 12vh;
    background: #519872;
    position: absolute;

}
.logout-button {
    float: right;
    margin-right: 55px;
    margin-top: 10px;
    color: #fff;
    pointer: cursor;
    font-weight: 700;
    font-family:   'Open Sans', sans-serif;

}
.header-div {
    margin-top: 20px;
}
.houser-span {
    color: #fff;
    margin-left: 10px;
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
.dashboard-span {
    color: #fff;
    margin-left: 10px;
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}
.header-left {
    float: left;
    margin-left: 50px;
}
.newProp-div {
    grid-row: 2 / 3;
    justify-self: center;
    align-self: center;
}
.newProp-button {
    background: #8aea92;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    width: 180px;
    height: 40px;
    font-size: 18px;
    font-weight: 700;

}
.listing-div {
    grid-row: 4 / 5;
}
.prop-div {
    width: 95%;
    height: 150px;
    background: #dedede;
    box-sizing: border-box;
    margin-bottom: 20px;
    border-radius: 3px;
    display: flex;
    margin-left: 12px;
    flex: 1 1 0%;
}
.pic-div {
    height: 100%;
    width: 150px;

}
.middle-prop-div {
    height: 100%;
    width: 150px;
    font-family:  'Open Sans', sans-serif;
    font-weight: 700;
}
.prop-info {
    height: 100%;
    width: calc(100% - 300px);
    font-family:  'Open Sans', sans-serif;
    font-weight: 700;
}